.ad-overlay {
    position: fixed;
    inset: 0;
    top:0;
    max-width: 500px;
    margin: auto;
    height:100dvh;
    background: rgba(80, 80, 80, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.ad-box {
    background: #ffffff;
    color: #000;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 20px;
    text-align: center;
    position: relative;
    max-width:90%;
}

.ad-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    background: none;
    border: none;
    color: #333;
    cursor: not-allowed;
    opacity: 0.4;
    transition: opacity 0.3s, cursor 0.3s;
}

.ad-close.active {
    cursor: pointer;
    opacity: 1;
}

.ad-countdown {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 600;
    color: #444;
    animation: pulse 1s ease-in-out infinite; }