/* Base styles, fonts & colors */
:root {
    --buttonbg: #101010;
    --bg: #121212;
    --surface: #1e1e1e;
    --ink: #ffffff;
    --muted: #b3b3b3;
    --accent: linear-gradient(to top, #22952a, #26b85e);
    --radius: 16px;
    --btnradius: 50px;
    --transition: 0.25s ease;
    --mini-surface: #282828;
    --border-line-muted: #444444;
    --font-size-factor:0.9;
    --font-family-accessibility: Inter;
    --danger-btn: linear-gradient(to bottom, red, #b00000) !important;
}

html[data-theme="light"] {
    color-scheme: light;
    --buttonbg: #dfdfdf;
    --bg: #efefef;
    --surface: #fff;
    --mini-surface: #efefef;
    --ink: #161616;
    --muted: #5a5a5a;
    --border-line-muted: #e5e5e5;
    --danger-btn: linear-gradient(to bottom, red, #b00000) !important;
    /* accent blijft overschrijfbaar; komt uit settings */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font-family-accessibility);
    background: var(--accent);
    background-size: cover;
    background-attachment: fixed;
    color: var(--ink);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-width:270px;
    max-width: 500px;
    margin: 0 auto;
    /*margin-bottom: 110px;*/
    overflow-x:auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: "Clash Display";
    color:#fff;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--ink);
    text-decoration: none;
    transition: color var(--transition);
}

a:hover {
    color: var(--accent);
}

.btn {
    display: inline-block;
    padding: 0.75em 1.25em;
    border-radius: var(--btnradius);
    background: var(--accent);
    color: #fff;
    font-weight: 500;
    /*transition: background var(--transition);*/
    border: none;
    cursor: pointer;
}

.btn--primary {
    background: var(--accent);
    color: #fff;
    font-size:0.8rem;
}

.btn--primary:hover {
    background: var(--accent);
}

.page {
    padding: 0 0% 0 0%;
    max-width: 500px;
    margin: 0 auto;
    overflow-x: visible;
}



.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background: #00000040;
    border-radius: 0 0 25% 25%;
    gap: 12px;
    margin-bottom: 1.5rem;
       /* background: linear-gradient(to top, #11998e, #38ef7d);*/
    color: #fff;
    z-index:3;
    
}

.page-header h1 {
    font-size: calc(1.5rem * var(--font-size-factor));
    letter-spacing: 0.03rem;
    text-align: center;
}

img{
    -webkit-user-drag: none;
}

.danger{
    background:var(--danger-btn)!important;
}

