/* Base styles, fonts & colors */
:root {
    --buttonbg: #dfdfdf;
    --bg: #efefef;
    --surface: #fff;
    --ink: #161616;
    --muted: #252525;
    /*--accent: linear-gradient(to top, #1f7d5e, #26b85e);*/
    --accent: linear-gradient(to top in oklab, #48ab53, #5ac971);
    --radius: 20px;
    --btnradius: 50px;
    --transition: 0.25s ease;
    --mini-surface: #efefef;
    --border-line-muted: #e5e5e5;
    --font-size-factor: 0.9;
    --font-family-accessibility: Inter;
    --danger-btn: linear-gradient(to bottom, red, #b00000) !important;
    --safe-top: calc(env(safe-area-inset-top) - 10px);
    --safe-bottom: env(safe-area-inset-bottom);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-family-accessibility);
    background: var(--accent);
    background-size: cover;
    background-attachment: fixed;
    color: var(--ink);
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-width: 270px;
    max-width: 500px;
    margin: 0 auto;
    /*margin-bottom: 110px;*/
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: var(--safe-top);
}

body::-webkit-scrollbar {
    display: none;
}

body::after {
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
    backdrop-filter: blur(2px);
    background: #00000025;
    mask-image: linear-gradient(to bottom in oklab, #000 0px, transparent 60px);
}

h1 {
    font-family: "Clash Display";
    color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--ink);
    text-decoration: none;
    transition: color var(--transition);
}

a:hover {
    /*color: var(--accent);*/
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 0.75em 1.25em;
    border-radius: var(--btnradius);
    background: var(--accent);
    color: #fff;
    font-weight: 500;
    /*transition: background var(--transition);*/
    border: none;
    cursor: pointer;
}

.btn--primary {
    background: var(--accent);
    color: #fff;
    font-size: 0.8rem;
}

.btn--primary:hover {
    background: var(--accent);
}

.add-btn {
    justify-self: flex-end;
    font-size: 0.72rem;
}

.page {
    padding: 0 0% 0 0%;
    max-width: 500px;
    margin: 0 auto;
    overflow-x: visible;
}



.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #00000000, #00000040);
    border-radius: 0 0 25% 25%;
    gap: 12px;
    margin-bottom: 1.5rem;
    /* background: linear-gradient(to top, #11998e, #38ef7d);*/
    color: #fff;
    z-index: 3;

}

.page-header h1 {
    font-size: calc(1.5rem * var(--font-size-factor));
    letter-spacing: 0.03rem;
    text-align: center;
}

img {
    -webkit-user-drag: none;
}

.danger {
    background: var(--danger-btn) !important;
}