.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    text-align: center;
    background: var(--accent);
    color: white;
    padding: 1.0rem;
}

.login-page .logo {
    width: 100%;
    max-width: 250px;
    margin-bottom: 5rem;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: fit-content;
    max-width: 300px;
    margin: 0rem 0 5rem;
}

.login-terms {
    font-size: 0.58rem;
    opacity: 0.8;
}

.login-terms a {
    color: var(--accent);
    text-decoration: underline;
}

.btn-login {
    border-radius: 99px;
    border: none;
    padding: 0.7rem 2rem;
    cursor: pointer;
    background: linear-gradient(to bottom, #333, #000);
    color: #fff;
}

.btn-dev {
    color: #000;
    background: linear-gradient(to bottom, #fff, #ddd);
}