/* Volledige fullscreen layout */
.tutorial-overlay {
    position: fixed;
    top:80%;
    left: 50%;
    transform: translatex(-50%);
    width: 100vw;
    background: transparent;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper altijd gecentreerd */
.tutorial-wrapper {
    width: 100%;
    max-width: 480px;
    margin:0 auto;
    background: transparent;
    border-radius: 20px;
    font-size: 20px;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.tutorial-wrapper p.welkom{
    font-size:0.8rem;
    max-width: 270px;
    margin: 0 auto;
}
.tutorial-wrapper p {
    font-size: 0.8rem;
    max-width: 480px;
    margin: 0.4rem auto;
}
.tutorial-wrapper orange{
    font-weight: 800;
    color:orangered;
}

.tutorial-wrapper h1{
    background: var(--accent);
    max-width: max-content;
    margin: 0 auto;
    padding:0rem 1rem;
    margin-bottom:2rem;
    border-radius:10px;
    font-style: italic;
}

.tutorial-wrapper h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Pages */
.tutorial-page {
    display: none;
    animation: fadeIn 0.25s ease;
    
}

.tutorial-page.active {
    display: block;

}

.tutorial-img{
    max-width:300px;
    width:100%;
}

.tutorial-selector{
max-width:160px;
margin-bottom: 2.3rem;
filter: saturate(1.3);
}
.tutorial-modalfilter{
    margin-top:0.8rem;
    border-radius:10px;
    max-width:270px;
    margin-bottom: 1.7rem;
}

.tutorial-doorstrepen{
    max-width:270px;
    margin-top:0.8rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.tutorial-zoekbalk{
    margin-top:0.8rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Knoppen */
.tutorial-next,
.tutorial-finish {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease, opacity 0.4s ease;
}

.tutorial-next {
    background: #eaeaea;
    color: #222;
}

.tutorial-next:hover {
    background: #d9d9d9;
}

.tutorial-finish {
    background: #222;
    color: #fff;
}

.tutorial-finish:hover {
    background: #000;
}

/* Pagination altijd zichtbaar */
.tutorial-pagination {
    margin-top: 1.5rem;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    margin: 0 5px;
    transition: background 0.2s ease;
}

.dot.active {
    background: #333;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease; }